# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Flask and SQLite
instance/
database.db

# Environment variables
.env

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

# Coverage reports
.coverage
coverage.xml
*,cover
htmlcov/

# Dependency directories
site-packages/